body {
    background-color: #ffffff;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    /* Sets the font size to 16px */
    font-weight: 400;
    /* Sets the font weight to 400 */
    line-height: 1.6;
    /* Sets the line-height to 1.6* the font-size */
    color: #191919;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #000000;
    text-decoration: none;
    /* no underlining */
}
#footer {
    position: relative;
    height: 80px;
    margin-top: -5px;
    clear: both;
}
#contact {
    text-align: center;
    background-color: #e5e5e5;
    padding: 20px;
    /* add top and bottom padding to override normalize 0.67em margin */
    display: inline-block;
    /* to ensure that the margins of every element in "hero" will only affect elements inside "hero" */
    width: 100%;
    /* to ensure "hero" will expand to full width when expanded. */
}
#contact-buttons a {
    display: inline-block;
    vertical-align: bottom;
}

a:visited {
    /* visited link */
    color: #000000;
}

a:hover {
    color: #000000;
    font-size: 135%;
    /* enlarge text when hovering over a link */
}

a:active {
    /* selected link */
    color: #323232;
}

a:focus {
    color: #191919;
    text-decoration: underline;
}

.button {
    display: inline-block;
    /* since the <a> tag is inline by default, we need to change this to inline-block */
    background-color: #cfecff;
    color: #000000;
    /* needed to override the default link color */
    font-weight: 300;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #7f7f7f;
    /* width of the border, type, color */
    transition: opacity 0.2s ease;
    box-shadow:  -6px -8px 20px #ffffff, -6px -8px 5px #ffffff, -8px 0px 15px #ffffff, 6px 8px 10px rgba(0,0,0,0.2);
    transition: .13s ease-in-out;
}

.button:hover {
    opacity: 0.8;
    /* reduces the opacity of the button to 80% */
    text-decoration: none;
}

.button.contact {
    background-color: #cfecff;
    color: #000000;
    border: 2px solid #7f7f7f;
}

.button.contact:hover {
    background-color: #191919;
    color: #ffffff;
}

/*
Colors used:
Primary Color (almost Black): #191919
Primary Color (White): #ffffff
Secondary Color (hint of Gray): #e5e5e5
Secondary Color  (Gray):#7f7f7f
Tertiary Color (Black): #000000
Tertiary Color (light Gray): #cccccc
*/

/* Layout styling */

.container {
    padding: 0 25px;
}


.row {
    margin: 35px 0;
    /* 35px top and bottom, 0 left and right */
}

.work {
    margin: 25px;
}

.center {
    text-align: center;
    /* content to be centered */
}

.logo {
    max-width: 55px;
    float: left;
}

header {
    background-color: #e5e5e5;
    padding: 15px 0;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    /* box shadow */
    position: fixed;
    display: inline-block;
    width: 100%;
}

nav {
    float: right;
}
nav > ul {
    list-style-type: none;
    /* removes bullets */
    padding: 0;
    display: inline-block;
    width: 100%;
    margin: 0;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #7f7f7f;
}
.navtoggle li:not(:last-child) {
    display: none;
}
.navtoggle, .navtoggle.responsive {
    position: relative;
}

/* hamburger menu */
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 20px;
    padding-right: 0;
}
.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #7f7f7f;
}
.navtoggle.responsive nav {
    padding: 55px 0 0;
}
.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

/* Highlight text out  */
div.highlightTextOut a {
    color: #191919;
}

div.highlightTextOut a:before,
div.highlightTextIn a:before {
    position: absolute;
    color: #191919;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.8s;
    transform: scale(0.8);
    opacity: 0;
}

div.highlightTextOut a:hover:before,
div.highlightTextIn a:hover:before {
    transform: scale(1);
    opacity: 1;
}

#hero {
    background-color: #e5e5e5;
    padding: 100px 0;
    /* add top and bottom padding to override normalize 0.67em margin */
    display: inline-block;
    /* to ensure that the margins of every element in "hero" will only affect elements inside "hero" */
    width: 100%;
    /* to ensure "hero" will expand to full width when expanded. */
    text-align: center;
}

#hero2 {
	padding: 100px 0;
    /* add top and bottom padding to override normalize 0.67em margin */
    display: inline-block;
    /* to ensure that the margins of every element in "hero" will only affect elements inside "hero" */
    width: 100%;
    /* to ensure "hero" will expand to full width when expanded. */
    text-align: center;
    padding-bottom: 0px;
}

#hero3 {
	padding: 100px 0;
    /* add top and bottom padding to override normalize 0.67em margin */
    display: inline-block;
    /* to ensure that the margins of every element in "hero" will only affect elements inside "hero" */
    width: 100%;
    /* to ensure "hero" will expand to full width when expanded. */
    text-align: center;
}
#work h2 {
    text-align: left;
}

main {
    padding-top: 56px;
}

ul.b {
    list-style-type: square;
}
.divider {
    width: 10px;
    height: auto;
    display: inline-block;
}

#oliveintro span {
    vertical-align: middle;
}
#oliveproject ul > li > h4, #wb-project ul > li > h4 {
    margin: 0em;
}
#oliveproject, #wb-project ul {
    margin-block-start: 0em;
}
#oliveproblem h3 {
    text-align: left;
}
#olive-process {
    background-color: #e5e5e5;
}
#olive-process ul {
    padding-inline-start: 20px;
}
#olive-process h3 {
    text-align: left;
    margin: .5em;
}
#olive-process a {
    text-decoration: underline;
}


#animation {
    text-align: center;
    padding-bottom: 75px;
    width: 100%;
    max-width: 100%;
    height: auto;
}
/*// Elements to Animate //*/

svg #draw {
    stroke-dasharray: 850;
    stroke-dashoffset: 500;
    animation: line-anim 5s ease forwards;
    animation-iteration-count: 2;
}

/*// Keyframes //*/

@keyframes line-anim {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

[class*="col-"] {
    float: left;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    width: auto;
}
.project-wrapper {
    padding: 20px;
}

#wb-comp-icons img {
    width: 20%;
    height: auto;
    padding: .5em;
    display: inline-block;
}
#wb-process li {
    text-decoration: underline;
}

/*// Contact Form //*/
section {
    height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-form {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #7f7f7f;
    background-color: #ffffff;
    border-radius: 25px;
    margin-top: 15px;
}

.form-group {
    width: 97%;
    margin-top: 20px;
    font-size: 20px;
    text-align: left;
    align-items: center;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #7f7f7f;
    margin-top: 5px;
}

textarea {
    resize: vertical;
}
button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    color:#191919;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease backgound-color;
    background-color: #cfecff;
}
button[type="submit"]:hover {
    background-color: #7f7f7f;
}
#status {
    width:90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 15px;
}

#status.success {
    background-color:#88a266 ;
    animation: status 3s ease forwards;
}

#status.error {
    background-color: #fa5151 ;
    color:#ffffff;
    animation: status 3s ease forwards;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

/*// fix formatting for Safari //*/
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }
    main {
        padding-top: 10px;
    }
    body {
        font-size: 18px;
    }
    nav > ul {
        min-width: 300px;
        margin: 1em 0;
    }
    nav > ul > li {
        display: inline-block;
        min-width: 80px;
        /* list elements in unordered list within nav */
    }
    nav > ul > li > a {
        text-decoration: none;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .navtoggle li:last-child {
        display: none;
    }

    .logo {
        min-width: 80px;
        float: left;
    }
    #hero span {
        display: block;
    }

    #animation {
        display: block;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-4 {
        width: 33%;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .work {
        display: inline-block;
    }
    .left-col,
    .center-col,
    .right-col {
        width: 28%;
        display: inline-block;
        padding: 10px;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }
    main {
        padding-top: 10px;
    }
    body {
        font-size: 20px;
    }
}
